@import "tailwindcss";

@theme {
  --color-primary: #1e3a8a;
  --color-secondary: #0f172a;
  --color-accent: #38bdf8;
  --color-danger: #ef4444;
  --color-success: #22c55e;
}

body {
  font-family: 'Inter', sans-serif;
  @apply bg-slate-50 text-slate-900 dark:bg-slate-900 dark:text-slate-50 transition-colors duration-200;
}
